<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
{#     
    {% if settings.description %}
      <meta name="description" content="{{settings.description}}"/>
    {% endif %} #}

    {# <link rel="canonical" href="{{ settings.canonical }}" />
     #}
    <meta name="robots" content="{{ settings.robots }}" />

    <link rel="preload" href="/static/fonts/Atkinson-Hyperlegible/webfonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/Basier/Basier-Circle-semibold-webfont/basiercircle-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    {% seo "" %}

    <meta property="og:image" content="https://gynaecologieantwerpen.be/static/img/og-image.jpg" />
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    {# <script>
      function winLoad(callback) {
        if (document.readyState === 'complete') {
          callback();
        } else {
          window.addEventListener("load", callback);
        }
      }

      winLoad(function() {
        console.log('Window is loaded');
        let JSONfile = '/static/fonts/fonts.json';
        let bodyEl = document.querySelector('body');
        var selectEl = document.createElement("select");
        
        var values = ["dog", "cat", "parrot", "rabbit"];
        
        async function fetchJSON() {
          const response = await fetch(JSONfile);
          const fontlist = await response.json();
          console.log(fontlist);

        for (const val of fontlist) {
          var option = document.createElement("option");
          option.value = val;
          option.text = val.charAt(0).toUpperCase() + val.slice(1);
          selectEl.appendChild(option);
        }
          return fontlist;
        }

        fetchJSON().then(fontlist => {
          return fontlist;
        });         

        selectEl.classList.add('selectfont');
        selectEl.id = 'fontslist';
        console.log(values);

        
        bodyEl.appendChild(selectEl);

        selectEl.addEventListener("input", (event) => {
          console.log('changed', event.target.value);
          document.documentElement.style.setProperty("--headingfont", event.target.value);
        })
      });

    </script> #}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>