<div id="corona" class="bg-yellow-400">
	<section class="max-w-5xl py-10 mx-auto" id="corona">
		<h2>Corona</h2>
		<p>Beste patiënten.</p>
		<p>Gezien de Covid 19 pandemie dienen wij extra maatregelen te nemen om de raadpleging zo vlot en veilig mogelijk te laten verlopen.</p>
		<p>Wij vragen om het gezonde verstand te laten primeren. Indien jullie zelf ziek zijn, zieke partner of kinderen in huis hebben of in aanraking gekomen zijn met zieke mensen vragen wij vriendelijk om de gemaakte afspraak te annuleren. Dit voor jullie eigen gezondheid, maar ook voor de gezondheid van onze medewerkers en de andere (kwetsbare) patiënten. Wij vragen aan alle patiënten die op raadpleging komen om een mondmasker te dragen.</p>
		<p>Graag willen we ook vragen om bij het binnenkomen en bij het verlaten van de praktijk de handen grondig te wassen in het toilet.</p>
		<p>Ons team zal zowel VOOR als NA elke behandeling hun handen grondig wassen en desinfecteren.</p>
		<p>Verder willen wij vragen om de tijd die jullie spenderen in de wachtzaal tot een minimum te beperken. Wij doen ons best om zo stipt mogelijk te werken, het heeft geen zin om een half uur voor uw raadpleging aanwezig te zijn. Wij plannen ook de afspraken voldoende ruim in teneinde contacten tussen patiënten onderling te vermijden.</p>
		<p>Tracht zoveel mogelijk alleen aanwezig te zijn op de afspraak. Kinderen en partner kunnen niet mee op de gynaecologische raadpleging komen. Indien u zwanger bent mag enkel uw partner mee op raadpleging komen.</p>
		<p>Bij een geplande bevalling of heelkundige ingreep zal de patiënt eerst een corona-screening moeten ondergaan. Deze test zal twee dagen voor de opname worden gepland. Uiteraard zijn een mondmasker, social distancing en handhygïene verplicht in ons ziekenhuis.</p>
		<p>Daarnaast is er met uitzondering van materniteit, neonatologie en pediatrie (enkel ouders/partner) geen bezoek meer toegelaten in ons ziekenhuis.</p>
		<p>Voor bijkomende informatie kan u steeds contact opnemen met het secretariaat via email (<a href="mailto:info@obgyn.be">info@obgyn.be</a>) of telefonisch (<a href="tel:003238287896">03/828 78 96</a>).</p>
		<p>Alvast bedankt om deze maatregelen in acht te noemen. Zodoende kunnen we de komende weken de praktijk geopend houden en alles vlot laten verlopen.</p>
		<p>Samen staan we sterk tegen het Corona-virus.</p>
	</section>
</div>