<div id="contact" class="max-w-5xl mx-auto my-10 md:mb-20 md:mt-10">
  <div class="max-w-4xl px-4 mx-auto my-8 sm:px-8">
    <h2 class="py-4 pb-0 font-semibold text-center text-dblue-700">Heerlijk eten van onze BBQ Grill</h2>
  </div>
	<div class="flex flex-col justify-center px-4 py-4 my-4 text-center sm:block lg:mt-0">
		<a id="telbtn" class="inline-block px-6 py-3 m-1 mr-3 text-white no-underline bg-blue-700 rounded-full shadow-xl button hover:bg-blue-600 hover:text-white font-heading" href="tel:003238287896">Bel 03/828 78 96
		</a>
		<a id="mailbtn" class="inline-block px-6 py-3 m-1 text-white no-underline bg-blue-600 rounded-full shadow-xl button hover:bg-blue-500 hover:text-white font-heading" href="mailto:secretariaat@obgyn.be">
			Mail ons
		</a>

    <div class="mt-8 text-center">
      <strong class="inline-block p-2 px-8 mx-auto font-bold bg-yellow-500 rounded-full">
      <a href="#corona" class="text-black hover:text-red-600">Let op ! Lees de corona-regels voor een afspraak!</a></strong>
    </div>
	</div>

  <hr class="w-1/2 mx-auto mt-10 border border-blue-200">

  <h1 class="px-4 mt-6 text-2xl text-center text-dblue-500">Contactgegevens</h1>

  <div class="mt-4 xl:flex">
		<div class="gap-4 px-3 mb-5 text-lg xl:w-2/3 sm:flex md:flex-1 md:mb-0">
			<address class="flex-1 p-4 not-italic text-center sm:text-right">
				<a class="no-underline text-dblue-800" href="https://goo.gl/maps/RYDURubGUuPoZ7iY7">
        <strong class="font-bold">Gynaecologiepraktijk OBGYN Antwerpen</strong> <br>
				Beukenlaan 10a bus 1 <br>
				2020 Antwerpen <br>
        </a>
			</address>
			<p class="flex-1 p-4 text-center sm:text-left">
				Tel: <a href="tel:003238287896">03/828 78 96</a><br>

				Fax: 03/ 825 24 14<br>

				Email:
				<a href="mailto:secretariaat@obgyn.be ">secretariaat@obgyn.be</a><br>
			</p>
		</div>
    <div class="px-4 mt-2 text-center xl:w-1/3 xl:text-left">
      <p>Openingsuren van het secretariaat: <br> Wij zijn alle weekdagen geopend van 09u tot 15u en 18u tot 21u, behalve op vrijdag, dan sluiten wij om 15u.</p>
    </div>
	</div>

</div>
<div class="custom-shape-divider-top-1614787405" style="">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" fill="rgb(242,249,252)" class="shape-fill"></path>
    </svg>
</div>
