<!-- <div class="py-8 border border-dblue-800">
	<h3 class="text-2xl text-red-400">Pages</h3>
	{% set pageslist = collections.page %} {% for page in pageslist %} page:
	<a href="{{ page.url | url }}"> {{ page.data.title }}</a> <br />
	{{ page.content }} {% endfor %}
</div> -->


<div class="text-blue-300 fill-current bg-dblue-500 custom-shape-divider">
	<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill" fill="currentColor"></path>
    </svg>

</div>
<footer class=" bg-dblue-500">
	<div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
		<div class="items-center mt-4 text-blue-200">
      <h1 class="px-4 mt-6 text-2xl text-center text-blue-300">OBGYN Gynaecologiepraktijk Antwerpen</h1>
			<div class="gap-4 px-3 mb-5 text-lg sm:flex md:flex-1 md:mb-0">
				<address class="flex-1 p-4 not-italic text-center sm:text-right">
					<a
						class="text-blue-100 no-underline"
						href="https://goo.gl/maps/RYDURubGUuPoZ7iY7"
						>Gynaecologiepraktijk OBGYN Antwerpen<br />Beukenlaan 10a bus 1<br />2020
						Antwerpen<br
					/></a>
				</address>
				<p class="flex-1 p-4 text-center sm:text-left">
					Tel: <a class="text-blue-100" href="tel:003238287896">03/828 78 96</a><br />Fax: 03/ 825 24
					14<br />Email:
					<a class="text-blue-100" href="mailto:secretariaat@obgyn.be">secretariaat@obgyn.be</a><br />
				</p>
			</div>
		</div>
		<nav class="flex flex-wrap justify-center my-2 -mx-5" aria-label="Footer">
      {% if navigation.items %}

        <ul class="flex flex-wrap items-center justify-center flex-1 pt-6 lg:pt-0 list-reset">
          {% for item in navigation.items %}
            <li class="mr-3 nav__item">
              <a class="inline-block px-4 py-2 no-underline text-gold-200 text-ml hover:text-gold-100" href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}
		</nav>
		
	</div>
</footer>

<footer
	class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full p-4 bg-dblue-800 text-dblue-300 relative"
>
	<small class=""
		>Copyright © {{settings.name}} 2021. Made with ❤ by
		<a href="{{settings.url}}" target="_blank" rel="noopener" class="underline text-dblue-300"
			>{{settings.author}}</a
		>
		• All rights reserved.
		<br />
	</small>
	<a class="absolute bottom-0 right-0 p-4 text-sm underline text-dblue-300" href="#top"
		>⋀ Naar boven</a
	>
</footer>
