<section id="welcome" class="py-16 bg-redbrown-700">
  <div class="max-w-4xl mx-auto py-8">
    <div class="flex-wrap gap-8 px-8 sm:flex">
      <div class="flex-1 flow">
        <h2 class="text-5xl font-normal font-script text-gold-300">Welkom bij den Bonten Oss</h2>
        <p>
          Welkom bij den Bonten Oss waar u kan genieten van een heerlijke steak, burger of vis, allemaal lekker gegrild op de BBQ.
          Daarnaast zijn er natuurlijk nog vegetarische schotels, fingerfood of een verfrissend drankje..
        </p>
      </div>
    </div>
  </div>
</section>