<section id="welcome" class="py-8 bg-gold-900">
	<div class="max-w-4xl mx-auto mb-8">
		<div class="flex-wrap gap-8 px-8 sm:flex">
			<div class="flex-1 flow">
				<h2 class="text-3xl font-semibold text-gold-300">Welkom bij den Bonten Oss</h2>

				<p>
					Welkom bij den Bonten Oss waar u kan genieten van een heerlijke steak, burger of vis, allemaal lekker gegrild op de BBQ. Daarnaast zijn er natuurlijk nog vegetarische schotels, fingerfood of een verfrissend drankje..

				</p>
			</div>
			{# <div class="mt-2 sm:mt-14 sm:w-5/12 flow">
				<h3 class="text-xl font-semibold ">Weet nog niet wat hier.</h3>
				<h4 class="mt-0 mb-2 text-lg text-brown-700">
					Een titel
				</h4>
				<p>
					Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
				</p>
			</div> #}
		</div>
	</div>
</section>
